.footer {
    background-image: url('../assets/footer-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    height: 527px;
  }
  
  .footerSection {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  
  .footerLeft,
  .footerCenter,
  .footerRight {
    width: 33%;
  }

  .footerLeftTop {
    display: flex;
    align-items: center;
  }

  .footerLeftTop img {
    height: 80px;
    width: 80px;
    margin: 0 10px 20px 40px;
  }

  .footerLeftTop h2 {
    color: #fefefe;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .footerLeft p {
    font-size: 18px;
    line-height: 1.6;
    padding: 0 75px;
  }

  .footerCenter h1{
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
  }

  .footerCenter div {
    margin-bottom: 25px;
  }

  .footerCenter div p{
    font-size: 20px;
    opacity: 0.5;
  }

  .footerCenter p {
    opacity: 0.5;
  }

  .footerRight h1 {
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
  }

  .footerRight div {
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
    opacity: 0.6;
  }

  .footerBottom {
    margin-top: 90px;
    text-align: center;
    font-size: 19px ;
    opacity: 0.8;
    height: 110px;
  }

  .footerBottom div {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0 40px 110px;
  }

  .socialIcons {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    font-size: 40px;
    margin-top: 50px;
  }